.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.profile-avatar {
  width: 140px;
  height: 140px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 10px;
}

p {
  color: #888;
}

.empty-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

ion-button {
  width: 80%;
  max-width: 200px;
}
.app-logo {
  max-height: 100%;
  max-width: 100%;
  margin-right: 10px;
}

.circular-avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
