<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirmSignOut()" fill="clear">
        <ion-icon name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="profile-container">
    <ion-avatar class="profile-avatar">
      <ion-img [src]="userData.photoURL" [alt]="userData.displayName"></ion-img>
    </ion-avatar>
    <h2>{{ userData.displayName }}</h2>
    <p>{{ userData.email }}</p>
  </div>
</ion-content>
