<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Promoção</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->

  <ion-card *ngFor="let product of products">  
    <ion-img [src]="product.imgUrl" alt="Imagem do Produto"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ product.nome }}</ion-card-title>
       <!-- Preco normal -->
      <ion-card-subtitle *ngIf="!product.emPromocao">{{ product.preco | currency:'KZ ' }}</ion-card-subtitle>
       <!-- Preco com promocao -->
      <ion-card-subtitle *ngIf="product.emPromocao"> Desconto: {{ product.desconto }}%
        <br>
        {{ productService.calculateDiscountedPrice(product.preco, product.desconto || 0) | currency:'KZ ' }}
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{ product.descricao }}
    </ion-card-content>
  </ion-card>  
</ion-content>
