ion-card {
    ion-img {
      border-radius: 10px;
      width: 150px;
      height: 150px;
    }
  
    ion-card-title,
    ion-card-subtitle {
      font-size: 1.2em;
      font-weight: bold;
    }
  
    ion-card-content {
      p {
        margin-bottom: 10px;
      }
    }
  }