<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>

    <ion-title>Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="orders$ | async as orders; else loading">
    <div class="orders-list">
      <ion-list *ngIf="orders.length > 0; else emptyOrder">
        
        <ion-item-group *ngFor="let order of orders">
          <!-- <ion-item-divider *ngIf="order.status === 'Pendente'" class="pending-badge"> -->
          <ion-item-divider>
            <ion-label class="label">
              {{ order.dataHoraCompra | date:'dd/MM/yyyy' }} {{ order.dataHoraCompra | date:'HH:mm' }} - {{ order.total | currency:'KZ ':'symbol':'1.2-2'}}
            </ion-label>
            <ion-buttons slot="end">
              <ion-button color="primary" (click)="showOrderDetails(order)">
                Ver Detalhes
              </ion-button>
            </ion-buttons>
          </ion-item-divider>
          <div *ngIf="selectedOrder === order">
            <!-- Exibir detalhes do pedido aqui -->
            <ion-item class="details-header">
              <ion-label class="details-header-info">
                <h2>Licença Mensal (Taxa de Entrega)</h2>
                <p>{{ 500 | currency:'KZ ':'symbol':'1.2-2' }}</p>
              </ion-label>
              <ion-buttons slot="end">
                <ion-button color="warning" (click)="hideOrderDetails()">
                  <ion-icon name="close"></ion-icon>
                  Fechar
                </ion-button>
                <!-- Adicionado botões Aprovar e Rejeitar apenas para os pedidos Pendentes -->
                <ion-button color="success" (click)="aprovarPedido(order.id)" *ngIf="order.status === 'Pendente'">
                  Aprovar
                </ion-button>
                <ion-button color="danger" (click)="rejeitarPedido(order.id)" *ngIf="order.status === 'Pendente'">
                  Rejeitar
                </ion-button>
                 <!-- Badge para o status -->
                <ion-badge [color]="selectedOrder.status === 'Aprovado' ? 'success' : 'danger'" class="status-badge">
                  {{ selectedOrder.status }}
                </ion-badge>
              </ion-buttons>
            </ion-item>
            <ion-item *ngFor="let item of selectedOrder?.items">
              <ion-avatar slot="start">
                <ion-img [src]="item.imgUrl" [alt]="item.nome"></ion-img>
              </ion-avatar>
              <ion-label>
                <h2 style="font-weight: bolder;">{{ item.nome }}</h2>
                <p>{{ item.price | currency:'KZ ':'symbol':'1.2-2' }} x {{ item.quantity }} = {{ item.subtotal | currency:'KZ ':'symbol':'1.2-2' }}</p>
              </ion-label>              
            </ion-item>
          </div>
        </ion-item-group>
      </ion-list>
    </div>
  </div>

  <ng-template #loading>
    <div class="loading-container">
      <ion-spinner></ion-spinner>
      <p class="loading-message">Carregando...</p>
    </div>
  </ng-template>

  <ng-template #emptyOrder>
    <div class="empty-order-message">Parece que ainda não fizeste nenhuma compra.</div>
  </ng-template>
</ion-content>
